body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
     /* background-color: black; */
     color:rgb(255, 255, 255);
    font-size: 3rem;
}



button{
    height: 7rem;
    width: 20rem;
    border-radius: 3rem;
    
    font-size: 3rem;
}
/* 
/* This is the style for the div that needs to be attached. */
/* .cursorDot {
    mix-blend-mode: difference;
    background-color: white;
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  
  /* This is the style for the div that needs to be attached. */
  /* .cursorOutline {
    position: absolute;
    mix-blend-mode: difference;
    border: 3px solid white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
   */
  /* This is the common styling for the divs */
  /* .cursorDot,
  .cursorOutline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 2;
    pointer-events: none;
  } */
